<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../CSS/main_page.css">
    <link rel="stylesheet" type="text/css" href="../CSS/bootstrap.min.css">
    <title>Winfore</title>
</head>
<body>
    <header class="MainHeader">
        <header class="UserInformation">
            <div class="UserImageDiv">
                <img class="UserImage" src="../Content/Img/UserImage.jpg">
            </div>
            <div class="UserTextInfo">
                王帆
            </div>
            <div class="UserNameInfo">
                软件工程师
            </div>
        </header>
        <article class="MainNavLeft">
            <ul class="MainNavUl">
                <li class="Active">动态</li>
                <li>AngularJS</li>
                <li>ReactJS</li>
                <li>Web游戏</li>
                <li>随笔</li>
                <li>个人简介</li>
            </ul>
        </article>
        <footer class="NavFooter">
            <i class="icon-font NavFooterImg">&#xe615;</i>
            <i class="icon-font NavFooterImg">&#xe60d;</i>
            <i class="icon-font NavFooterImg">&#xe64d;</i>
        </footer>
    </header>
    <article class="MainArticle">
        <div class="MainArticleInfo">
            <div class="MainArticleImgDiv">
                <img class="MainArticleImg" src="../Content/Svg/qq.svg">
            </div>
            <div class="MainArticleContent"></div>
        </div>
    </article>
</body>
</html>